name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Go build
        run: go build -v ./...

      - name: Run Go tests
        run: go test ./...
